
.sidebar {
  background-color: #f1f1f1;
  padding: 20px;
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  padding: 0;
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 10px;
}

.content {
  margin-left: 220px;
  padding: 20px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
